<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  

<div id="app">
  <h1>v-if</h1>
  <!--v-if 指令用于条件性地渲染一块内容。这块内容只会在指令的表达式返回 truthy 值的时候被渲染。  -->
  <!-- 可以用 v-else 添加一个“else 块” -->
  <strong v-if="awesome">Vue is awesome!</strong>
  <strong v-else>Oh no 😢</strong>

  <h2>在 template 元素上使用 v-if 条件渲染分组</h2>
  <!-- 因为 v-if 是一个指令，所以必须将它添加到一个元素上。但是如果想切换多个元素呢？
  此时可以把一个 <template> 元素当做不可见的包裹元素，并在上面使用 v-if -->

    <template v-if="ok">
      <h6>Title</h6>
      <p>Paragraph 1</p>
      <p>Paragraph 2</p>
    </template>
  
    <!-- 可以使用 v-else 指令来表示 v-if 的“else 块” -->
    <!-- v-else-if，顾名思义，充当 v-if 的“else-if 块”，可以连续使用： -->
    <!-- v-else，v-else-if 也必须紧跟在带 v-if 或者 v-else-if 的元素之后，否则它将不会被识别 -->

    <h2>用 key 管理可复用的元素</h2>
    <!-- Vue 会尽可能高效地渲染元素，通常会复用已有元素而不是从头开始渲染 -->
    <!-- Vue 为你提供了一种方式来表达“这两个元素是完全独立的，不要复用它们”。只需添加一个具有唯一值的 key attribute 即可 -->


    <h2>v-show</h2>
    <!-- 另一个用于根据条件展示元素的选项是 v-show 指令 -->
    <h5 v-show="ok">Hello!</h5>
    <!-- 不同的是带有 v-show 的元素始终会被渲染并保留在 DOM 中。v-show 只是简单地切换元素的 CSS property display。 -->
    <!-- 注意，v-show 不支持 <template> 元素，也不支持 v-else。 -->
  
    <h2>v-if vs v-show</h2>
    <!-- v-if 是“真正”的条件渲染，因为它会确保在切换过程中条件块内的事件监听器和子组件适当地被销毁和重建。 -->
    <!-- v-if 有更高的切换开销，而 v-show 有更高的初始渲染开销。
    因此，如果需要非常频繁地切换，则使用 v-show 较好；如果在运行时条件很少改变，则使用 v-if 较好。 -->
  
    <h2>不推荐同时使用 v-if 和 v-for
      当 v-if 与 v-for 一起使用时，v-for 具有比 v-if 更高的优先级
    </h2>
      
  
  </div>

</body>

<script>
  var app= new Vue({
  el: '#app',
  data: {
    awesome:1, 
    ok:true,
  }
})
</script>
</html>